---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Freelancer",
    company: "Free",
    description: "Desarrollo de aplicaciones web para empresas",
    link: "https://www.linkedin/in/lillyshr",
  },
  {
    date: "Enero 2023",
    title: "Frontend Engineer",
    company: "Derevo",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software.",
  },
]

---

<ol class="relative border-s border-gray-200 dark:border-gray-700">     
    {
        EXPERIENCIE.map(experiencie => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experiencie} />
        </li>
        ))
    }             
    